a {
    text-decoration: none;
}

.videoLibrary {
    flex: 0.8;
    background-color: #f9f9f9;
    padding: 40px 20px;
    padding-bottom: 0;
}

/* .videoLibrary > h2 {
    margin-left: 5px;
    margin-bottom: 20px;
}

.library__videos {
    display: flex;
    flex-wrap: wrap;
}

.library__videos > * {
    margin-left: 5%;
} */